<div class="row row-cols-1 row-cols-md-4 g-4">
  @for (product of filterProductsArr; track product.id;let i=$index;let
  c=$count) {
  <div *ngIf="product.quantity != 0">
    <div class="col" class="card">
      <div>
        <img [src]="product.imgUrl" class="card-img-top" alt="..." />
        <div class="card-body" appHighlightCard="gray" externalColor="pink">
          <h5 class="card-title">{{ i + 1 }} {{ product.name }}</h5>
          <p class="card-text">
            Price : {{ product.price | currency : "EUR" : "symbol" }}
          </p>
          @switch (product.quantity) { @case (1) {
          <p class="card-text">Quantity : Last Item</p>
          } @case (2) {
          <p class="card-text">Quantity : Last Two Items</p>
          } @default {
          <p class="card-text">Quantity : {{ product.quantity }}</p>
          } }
          <!-- <p class="card-text">{{c}}</p> -->
          <!-- template variable ,refrence -->
          <div class="d-flex g-3">
            <button
              class="btn btn-success"
              [routerLink]="['/Details', product.id]"
            >
              Details
            </button>
            <!-- <button class="btn btn-success" (click)="navigateToDetails(product.id)">
              Details
            </button> 
            -->
            <!-- <input type="number" #countInput /> -->
            <!-- <button class=" btn btn-success " (click)="buy(countInput.value,product.price)">buy</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  }@empty {
  <p>No Product Found</p>
  }
</div>
<!--<h2>{{myDate|date:'shortDate'}}</h2>-->
<!--<h2>{{num|square:3}}</h2>-->
