<div class="mb-3 m-5">
    <label for="" class="form-label">Category</label>
    <select class="form-select form-select-lg" name="" id="" [(ngModel)]="selectedCategory">
        <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
    </select>
</div>
<div class="row row-cols-1 row-cols-md-4 g-4 m-5">
    <ng-container *ngFor="let product of products">
        <div class="col" *ngIf="product.catId == selectedCategory && product.quantity != 0">
            <div class="card" [ngClass]="(product.quantity==1)?'yellow':''">
                <img [src]="product.imgUrl" class="card-img-top" [alt]="product.name">
                <div class="card-body">
                    <h5 class=" card-title">{{product.name}}</h5>
                    <p class="card-text">Price : {{product.price}}</p>
                    <p class="card-text">Quantity : {{product.quantity}}</p>
                </div>
                <button (click)="buy(product.id)">buy</button>
            </div>
        </div>
    </ng-container>
</div>